<section class="amenities">
  <div class="container">
    <h2 class="amen-main-header">Зручності у номері</h2>
    <p class="main-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-items">
      <li class="amen-item">
        <h3 class="amen-sub-header">Загальні</h3>
        <div class="paragraphs">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amen-item">
        <h3 class="amen-sub-header">Ванна кімната</h3>
        <div class="paragraphs">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amen-item">
        <h3 class="amen-sub-header">Спальня</h3>
        <div class="paragraphs">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amen-item">
        <h3 class="amen-sub-header">Кухня</h3>
        <div class="paragraphs">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amen-item last-item">
        <h3 class="amen-sub-header">Медіа</h3>
        <div class="paragraphs">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <div class="book-room-container">
      <button type="button" class="book-room-btn">Оформити бронювання</button>
      <a href="#" class="book-room"
        ><span>Повернутися до перегляду номерів</span>
        <svg width="22" height="12" class="right-arrow">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
