/* Montserrat 300 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../fonts/montserrat-light.woff2') format('woff2'),
    url('../fonts/montserrat-light.woff') format('woff'),
    url('../fonts/montserrat-light.eot') format('eot');
}

/* Montserrat 400 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.eot') format('eot');
}

/* Montserrat 500 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/montserrat-500.woff2') format('woff2'),
    url('../fonts/montserrat-500.woff') format('woff'),
    url('../fonts/montserrat-500.eot') format('eot');
}

/* Montserrat 600  */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/montserrat-600.woff2') format('woff2'),
    url('../fonts/montserrat-600.woff') format('woff'),
    url('../fonts/montserrat-600.eot') format('eot');
}

/* Montserrat 700 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-700.woff2') format('woff2'),
    url('../fonts/montserrat-700.woff') format('woff'),
    url('../fonts/montserrat-700.eot') format('eot');
}

/* Times New Roman */
@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  src: local('Times New Roman'), local('Times New Roman Regular'),
    local('Times-New-Roman-Regular'),
    url('../fonts/Times_New_Roman.woff2') format('woff2'),
    url('../fonts/Times_New_Roman.woff') format('woff'),
    url('../fonts/Times_New_Roman.eot') format('eot');
}

/* Times New Roman 700 */
@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  src: local('Times New Roman Bold'), local('Times-New-Roman-Bold'),
    url('../fonts/Times_New_Roman_Bold.woff2') format('woff2'),
    url('../fonts/Times_New_Roman_Bold.woff') format('woff'),
    url('../fonts/Times_New_Roman_Bold.eot') format('eot');
}

/* Film P3*/
@font-face {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Film P3 Bold'), local('Film-P3-Bold'),
    url('../fonts/FilmP3Bold.woff2') format('woff2'),
    url('../fonts/FilmP3Bold.woff') format('woff'),
    url('../fonts/FilmP3Bold.eot') format('eot');
}
