h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* ul */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* a */
.link {
  text-decoration: none;
  color: inherit;
}
/* img */
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}
address {
  font-style: normal;
}

// menu

.reset-table th,
.reset-table td {
  padding: 0;
}

.reset-table {
  border-spacing: 0;
}
