// basic
$white: #ffffff;
$black: #000000;
// text
$room-text-color: #7a7a7a;
$main-text-color: #5f5f5f;
$secondary-text-color: #494848;
$uppertitle-text-color: #b4b4b4;
// accent
$main-accent-color: #f3c653;
$accent-text-color: #c79002;
// main accent color with 70% transparency (icons, borders)
$accent-color07: rgba(243, 198, 83, 0.7);
// background
$main-bg-color: #fffdee;
$secondary-bg-color: #f0ecd6;
$footer-bg-color: #0e0c07;
// placeholder
$placeholder-color: #808080;
