// restaurant
@import './restaurant/hero';
@import './restaurant/about-kitchen';
@import './restaurant/menu';

// hotel
@import './hotel/hero';
@import './hotel/grand-suite';
@import './hotel/large-suite';
@import './hotel/classic-suite';

// room
@import './room/hero';
@import './room/amenities';
