.menu {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $secondary-bg-color;
  color: $black;
  @media screen and (min-width: 1024px) {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 60px;
  }
}

.menu-title {
  font-family: 'Times New Roman';
  font-size: 7.7vw;
  line-height: 1.15;
  margin-bottom: 32px;

  @media screen and (min-width: 414px) {
    font-size: 32px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
  }
}

.menu-wrapper {
  display: block;
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    column-gap: 88px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 140px;
  }
}

@media screen and (max-width: 1023.98px) {
  .menu-first-column {
    margin-bottom: 16px;
  }
}

.menu-category {
  margin-bottom: 16px;
}

.menu-category-d {
  margin-bottom: 16px;
  border-spacing: 0 8px;
}

// розкоментуй  display:flex;

.dish-category {
  align-items: center;
  //   display: flex;
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: unset;

  &:nth-child(1) {
    margin-top: 0;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 20px;
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}

// розкоментуй  display:flex;

.dish {
  align-items: center;
  //   display: flex;
  text-align: unset;

  @media screen and (min-width: 414px) {
    width: 384px;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  //   @media screen and (min-width: 1280px) {
  //     &:not(:last-child) {
  //       margin-bottom: 12px;
  //     }
  //   }
}

.menu-category {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 1.15;

  text-align: left;
}

// розкоментуй  display: inline-block;

.dish-title {
  margin-right: auto;
  //   display: inline-block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.02em;

  @media screen and (min-width: 414px) {
    max-width: 220px;
  }
}

.dish-description {
  max-width: 220px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

// за коментуй padding
// розкоментуй  display: inline-block;

.dish-weight {
  //   display: inline-block;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 3.4vw;
  line-height: 1.21;
  white-space: nowrap;
  //   margin-left: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  width: 50px;

  letter-spacing: 0.02em;

  @media screen and (min-width: 414px) {
    font-size: 14px;
  }
}

// розкоментуй  display: inline-block;

.dish-price {
  //   display: inline-block;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 1.21;
  white-space: nowrap;
  max-width: 60px;
  text-align: right;

  letter-spacing: 0.02em;

  @media screen and (min-width: 414px) {
    font-size: 14px;
  }
}

.btn-menu {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;

  color: $main-accent-color;
  width: 236px;
  height: 48px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: $black;
  border: 2px solid $main-bg-color;
  border-radius: 25px;

  @media screen and (min-width: 1024px) {
    margin-right: 0;
    margin-top: 41px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 48px;
  }
}

// menu

// .reset-table th,
// .reset-table td {
//   padding: 0;
// }

// .reset-table {
//   border-spacing: 0;
// }
