.classic-suite {
  min-width: 320px;
  padding: 32px 0;

  @media screen and (min-width: 1024px) {
    padding: 68px 0 40px;
  }
}

.classic-suite .container {
  position: relative;
}

.classic-suite {
  &-subtitle {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $uppertitle-text-color;

    margin-bottom: 8px;

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }

  &-logo {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $secondary-text-color;
    text-transform: uppercase;

    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      font-size: 64px;
      margin-bottom: 72px;
    }
  }

  &-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $black;
    // text-transform: uppercase;
    margin-bottom: 12px;
    // max-width: 507px;

    @media screen and (max-width: 340px) {
      font-size: 7vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: 30px;
      line-height: 1.13;
    }

    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.14;
    }
  }

  &-description {
    max-width: 258px;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $room-text-color;

    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      max-width: 400px;
    }
  }

  &-photo {
    margin-left: auto;
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  &-swiper-next,
  &-swiper-prev {
    border: none;
    background: transparent;
    padding: 0;
    line-height: 0;
    margin-right: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &-btn {
    width: 240px;
    padding: 14px 37px;

    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    color: $main-accent-color;
    background: $black;

    border: 2px solid $accent-text-color;
    border-radius: 25px;

    &:hover,
    &:focus {
      background: $white;
    }
  }

  &-btn.link {
    font-family: inherit;
    display: block;
  }
}

// .content-item:not(:last-child) {
//   margin-bottom: 32px;
// }

// .content-item {
//   display: flex;
//   flex-direction: column;
//   //   position: relative;

//   @media screen and (min-width: 1024px) {
//     // flex-direction: row-reverse;
//     justify-content: space-between;
//   }
// }

// .classic-suite-photo {

//   @media screen and (min-width: 1024px) {
//     position: absolute;
//     top: -100px;
//     right: 80px;
//   }
// }

.wrapper {
  min-width: 260px;
  max-width: 306px;

  // align-self: flex-end;

  @media screen and (min-width: 1024px) {
    min-width: 400px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 540px;
  }
}

// SWIPER

// .classic-suite-gallery {
//   max-width: 330px;

//   border-radius: 2px;

//   overflow: hidden;
//   transform: translateX(-15px);

//   @media screen and (min-width: 1024px) {
//     position: absolute;
//     left: 15px;
//     bottom: -230px;
//     max-width: 428px;
//     transform: translateX(0);
//   }
//   @media screen and (min-width: 1280px) {
//     bottom: -147px;
//     max-width: 548px;
//   }
// }

.cs-swiper {
  max-width: 330px;

  border-radius: 2px;

  overflow: hidden;
  transform: translateX(-15px);

  @media screen and (min-width: 1024px) {
    position: absolute;
    left: 15px;
    bottom: -230px;
    max-width: 428px;
    transform: translateX(0);
  }
  @media screen and (min-width: 1280px) {
    bottom: -147px;
    max-width: 548px;
  }
}

.swiper-slide {
  width: auto !important;
  @media screen and (max-width: 1023.98px) {
    opacity: 0.6;
    transition: 250ms;
  }
}

.swiper-slide-active {
  @media screen and (max-width: 1023.98px) {
    opacity: 1;
    transition: 250ms;
  }
}

.classic-arrow-list {
  display: flex;
  gap: 32;
  margin-top: 20px;
  margin-bottom: 20px;
  // justify-content: flex-end;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.cs-swiper-next,
.cs-swiper-prev {
  border: none;
  background: transparent;
  padding: 0;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.classic-action-item:not(:last-child) {
  margin-bottom: 16px;
}

.classic-action-list {
  align-self: flex-end;
}
