.classic-suite {
  min-width: 320px;
  padding: 32px 0;

  @media screen and (min-width: 1024px) {
    padding: 64px 0 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 72px 0 40px;
  }
}

.classic-suite .container {
  position: relative;
}

.classic-suite {
  &-subtitle {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $uppertitle-text-color;

    margin-bottom: 8px;

    @media screen and (min-width: 1024px) {
      font-size: 32px;

      margin-bottom: 4px;
    }
  }

  &-logo {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $secondary-text-color;
    text-transform: uppercase;

    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      font-size: 64px;

      margin-bottom: 62px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 72px;
    }
  }

  &-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $black;

    margin-bottom: 12px;

    @media screen and (max-width: 340px) {
      font-size: 7vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: 30px;
      line-height: 1.15;

      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }

  &-description {
    max-width: 258px;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $room-text-color;

    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      font-size: 16px;
      max-width: 439px;

      margin-bottom: 174px;
    }
    @media screen and (min-width: 1280px) {
      font-weight: 700;
      max-width: 400px;

      margin-bottom: 188px;
    }
  }

  &-photo {
    margin-left: auto;
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
      position: absolute;
      top: -152px;
      right: 80px;

      margin-left: 0;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1024px) {
      top: -104px;
      right: 110px;
    }
  }

  &-btn {
    width: 240px;
    padding: 14px 37px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    outline: none;
    color: $main-accent-color;
    background: $black;

    border: 2px solid $accent-text-color;
    border-radius: 25px;

    &:hover,
    &:focus {
      background: $white;
    }
  }

  &-btn-second {
    padding: 14px 64px;
  }

  &-btn-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;

    margin-right: 32px;

    @media screen and (min-width: 1280px) {
      margin-right: 60px;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// SWIPER //

.cs-swiper {
  max-width: 330px;

  border-radius: 2px;

  overflow: hidden;
  transform: translateX(-15px);

  @media screen and (min-width: 1024px) {
    max-width: 428px;
    transform: translateX(0);
  }
  @media screen and (min-width: 1280px) {
    bottom: -147px;
    max-width: 548px;
  }
}

.swiper-slide {
  width: auto !important;
  @media screen and (max-width: 1023.98px) {
    opacity: 0.6;
    transition: 250ms;
  }
}

.swiper-slide-active {
  @media screen and (max-width: 1023.98px) {
    opacity: 1;
    transition: 250ms;
  }
}

// SWIPER-ARROWS //

.cs-swiper-arrow-list {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 32px;
    margin-left: 329px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 452px;
  }
}

.cs-swiper-next,
.cs-swiper-prev {
  border: none;
  background: transparent;
  padding: 0;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $black;
  transition: color $transition, transform $transition;
  &:hover {
    color: $main-accent-color;
    transform: scale(1.1);
  }
  &-arrow-icon {
    fill: currentColor;
  }
  @media screen and (min-width: 1280px) {
  }
}
