.grand-suite {
	min-width: 320px;
	padding: 32px 0 32px 0;
	background-color: $main-bg-color;

<<<<<<< HEAD
<<<<<<< Updated upstream
  @media screen and (min-width: 1024px) {
    padding: 68px 0 40px;
  }
}

.grand-suite .container {
  position: relative;
=======
.grand-suite {
background-color: #FFFDEE;
margin-top: 72px;



.grand-suite-description {
font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	/* identical to box height */


	color: #B4B4B4;
}

.grand-suite-logo {
font-family: 'Film P3';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 69px;
	/* identical to box height */

	letter-spacing: 0.3em;

	color: #494848;
}

.grand-suite-title{
font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 41px;
	letter-spacing: 0.05em;

	color: #000000;
}

.grand-suite-text {
font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.02em;

	color: #7A7A7A;
}

}





>>>>>>> Stashed changes
=======
	@media screen and (min-width: 1024px) {
	padding: 62px 0 40px 0;
}

	@media screen and (min-width: 1280px) {
	padding: 72px 0 40px 0;
>>>>>>> c794753eb48e0fabc6f49eef64c8484186da21e8
}

// .grand-suite .container {
// 	position: relative;
// }

.gs-description {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	color:$uppertitle-text-color;

	margin-bottom: 8px;

	@media screen and (min-width: 1024px) {
	font-size: 32px;
	}

	@media screen and (min-width: 1280px) {
	margin-bottom: 4px;
}

}

.gs-logo {
	font-family: 'Film P3';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.07;
	letter-spacing: 0.3em;
	color: $secondary-text-color;

	text-transform: uppercase;

	margin-bottom: 32px;

	@media screen and (min-width: 1024px) {
	font-size: 64px;
	margin-bottom: 62px;
}

@media screen and (min-width: 1280px) {
	margin-bottom: 72px;
}

}

	.gs-title {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.05em;
	color: $black;
	// text-transform: uppercase;

	
	margin-bottom: 12px;

	@media screen and (min-width: 1024px) {
	font-size: 30px;
	line-height: 1.13;
	margin-bottom: 16px;
}

	@media screen and (min-width: 1280px) {
	font-size: 36px;
	margin-bottom: 24px;
}

}

	.gs-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: $room-text-color;

	
	width: 258px;
	margin-bottom: 32px;
	}

	@media screen and (min-width: 1024px) {
	font-size: 16px;
	// width: 439px;
	margin-bottom: 176px;
}

	@media screen and (min-width: 1280px) {
	font-size: 16px;
	// width: 400px;
	margin-bottom: 188px;
}

.gs-photo {
	margin-bottom: 32px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;


// align-self: flex-end;

	@media screen and (min-width: 1024px) {
		// justify-content: flex-start;
		position: absolute;
		top: -32px;
		left: 497px;
	}

	@media screen and (min-width: 1280px) {
		position: absolute;
		top: -33px;
		left: 624px;

	}


}

.suite-photo {
	
}

.swiper-wrapper {
	gap: 16px;
}

.sw-wrapper {
	@media screen and (min-width: 1024px) {
	margin-top: 145px;
	}
	
	@media screen and (min-width: 1280px) {
	margin-top: 145px;
	}
}



.gallery-item {

}

.gs-arrows-slide {
	margin-bottom: 27px;
}


.grand-action-list {

}

.grand-action-item {
	margin-bottom: 16px;
}

.grand-suite-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: #F3C653;
	background-color: #000000;

	border: 2px solid #FFFDEE;
	border-radius: 25px;
	text-align: center;
	
	margin: auto;
	display: block;
	padding: 14px 37px;
	width: 240px;
}

.grand-suite-btn:hover,
.grand-suite-btn:focus {
	background:$white;
}


// SWIPER
.grand-suite-gallery {
	max-width: 330px;

	border-radius: 2px;

	overflow: hidden;
	transform: translateX(-15px);

	@media screen and (min-width: 1024px) {
		position: absolute;
		left: 15px;
		bottom: -230px;
		max-width: 428px;
		transform: translateX(0);

	}

	@media screen and (min-width: 1280px) {
		bottom: -290px;
		max-width: 548px;

	}
}

.swiper-slide {
	width: auto !important;

	@media screen and (max-width: 1023.98px) {
		opacity: 0.6;
		transition: 250ms;
	}
}

.swiper-slide-active {
	@media screen and (max-width: 1023.98px) {
		opacity: 1;
		transition: 250ms;
	}
}

.grand-arrow-list {
	display: flex;
	gap: 34;
	margin-top: 20px;
	margin-bottom: 20px;
	// justify-content: flex-end;


	@media screen and (min-width: 1024px) {
		justify-content: flex-start;
		position: absolute;
		bottom: -32px;
		left: 290px;


	}

	@media screen and (min-width: 1280px) {
		justify-content: flex-start;
		position: absolute;
		bottom: -32px;
		left: 407px;


	}
}

.grand-arrow-next,
.grand-arrow-prev {
	border: none;
	background: transparent;

}

.grand-action-item:not(:last-child) {
	margin-bottom: 16px;


}

.grand-action-list {
	align-self: flex-end;

	@media screen and (min-width: 1024px) {
		justify-content: flex-start;
		position: absolute;
		bottom: 43px;
		left: 676px;
	}

	@media screen and (min-width: 1280px) {
		position: absolute;
		bottom: 65px;
		left: 861px;

	}

}






}