<<<<<<< Updated upstream
.grand-suite {
background-color: $main-bg-color;
padding-top: 32px;
padding-bottom: 32px;




.grand-suite-description {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	color: $uppertitle-text-color;

	margin-bottom: 8px;
=======


// <--___________SECTION_GRAND-SUITE__________-->
.grand-suite {
	display: flex;
	background-color: #FFFDEE;
}

.grand-suite-description {
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 32px;
	line-height: 1.15;
	color: #B4B4B4;
>>>>>>> Stashed changes
}

.grand-suite-mimino-title {
	font-family: 'Film P3';
<<<<<<< Updated upstream
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.075;
	letter-spacing: 0.3em;
	color:$secondary-text-color;

	margin-bottom: 32px;
=======
	font-weight: 700;
	font-size: 64px;
	line-height: 1.07;
	letter-spacing: 0.3em;
	color: #494848;
>>>>>>> Stashed changes
}

.grand-suite-title {
	font-family: 'Times New Roman';
<<<<<<< Updated upstream
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.05em;
	color: $black;

	margin-bottom: 12px;
=======
	font-weight: 700;
	font-size: 36px;
	line-height: 1.13;
	letter-spacing: 0.05em;
	color: #000000;
>>>>>>> Stashed changes
}

.grand-suite-text {
	font-family: 'Montserrat';
<<<<<<< Updated upstream
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: $room-text-color;
	
	margin-bottom: 32px;

	display: inline-flex;
	width: 258px;
}


//!___________IMAGES GRAND-SUITE__________
.grand-suite-list {
gap: 16px;

}

.grand-suite-item {
	margin-bottom: 32px;
}

.grand-suite-right {

}


.grand-slide-left {
	display: flex;
	justify-content:center;
	align-items: center;
	gap: 16px;

	margin-bottom: 72px;
}

// !__________BUTTONS GRAND-SUITE__________
.btn-list {

}

.grand-suite-item {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 16px;
}

.grand-suite-btn {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: $main-accent-color;
	text-align: center;

	width: 240px;
	padding: 14px 37px;

}

.btn {
	background-color: $black;
	border: 2px solid $main-bg-color;
	border-radius: 25px;
}





}
=======
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: #7A7A7A;
}

.grand-suite-text {
	display: flex;
width: 400px;
height: 83px;
}

.card {
	display: flex;
}

// <!--___________IMAGE_GRAND-SUITE__________ -->
>>>>>>> Stashed changes
