.large-suite {
  min-width: 320px;
  padding: 32px 0;
  background: $secondary-bg-color;

  @media screen and (min-width: 1024px) {
    padding: 66px 0 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 72px;
  }
}

.large-suite {
  &-wrapper {
    min-width: 290px;
    max-width: 306px;
    align-self: flex-end;

    @media screen and (min-width: 1024px) {
      min-width: 400px;
      min-height: 440px;
    }

    @media screen and (min-width: 1280px) {
      min-width: 463px;
      min-height: 484px;
      margin-right: 40px;
    }
  }

  &-subtitle {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $uppertitle-text-color;
    text-align: right;

    margin-bottom: 8px;

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }

  &-logo {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $secondary-text-color;
    text-transform: uppercase;
    text-align: right;

    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      font-size: 64px;
    }
  }

  &-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media screen and (max-width: 340px) {
      font-size: 7vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: 30px;
      line-height: 1.13;
    }

    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.14;
    }
  }

  &-description {
    max-width: 245px;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $room-text-color;

    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      max-width: 400px;
      font-size: 16px;
    }
  }

  &-gallery {
    display: flex;
    gap: 40px;
    align-self: flex-end;
    overflow: hidden;
  }

  &-btn {
    width: 236px;
    padding: 12px 34px;

    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    color: $main-accent-color;
    background: $black;

    border: 2px solid $accent-text-color;
    border-radius: 25px;

    &:hover,
    &:focus {
      background: $white;
    }
  }

  &-btn.link {
    font-family: inherit;
    display: block;
  }
}

.content-item:not(:last-child) {
  margin-bottom: 32px;
}

.content-item {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.wrapper {
  max-width: 265px;

  align-self: flex-end;

  @media screen and (max-width: 1023px) {
    margin-right: -15px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 428px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 543px;
  }
}

.gallery-item {
  margin-left: 5px;
  @media screen and (min-width: 1024px) {
    margin-left: 0;
  }
}

.gallery-item > picture {
  display: block;
  height: 194px;

  @media screen and (min-width: 1280px) {
    width: 254px;
    height: 254px;
  }
}

.large-arrow-list {
  display: flex;
  gap: 32;
  padding-right: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-end;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.large-arrow-next,
.large-arrow-prev {
  border: none;
  background: transparent;
  line-height: 0;
  padding: 0;

  cursor: pointer;

  transition: fill $transition, transform $transition;

  &:hover,
  &:focus {
    fill: $main-accent-color;
    transform: scale(1.1);
  }
}

.large-action-item:not(:last-child) {
  margin-bottom: 16px;
}

.suite-photo {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 1024px) {
    position: absolute;
    top: -100px;
    left: 98px;
  }
}

.large-action-list {
  align-self: center;
}

// .large-suite .swiper-slide {
//   @media screen and (min-width: 414px) {
//     width: auto !important;
//   }
// }

.large-suite .swiper-slide {
  width: auto !important;

  @media screen and (max-width: 1023.98px) {
    opacity: 0.6;
    transition: 250ms;
  }
}

.large-suite .swiper-slide-active {
  @media screen and (max-width: 1023.98px) {
    opacity: 1;
    transition: 250ms;
  }
}
