<section class="menu">
  <div class="container">
    <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-wrapper">
      <table>
        <tr class="dish-category">
          <th class="menu-category">Гарячі страви</th>
          <th></th>
          <th></th>
        </tr>

        <tr class="dish">
          <td class="dish-title">
            Борщ з телятини з квасолею
            <p class="dish-description">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">240 грн</td>
        </tr>

        <tr class="dish">
          <td class="dish-title">
            Суп сирний з куркою
            <p class="dish-description">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">200 грн</td>
        </tr>

        <tr class="dish">
          <td class="dish-title">
            Паста карбонара
            <p class="dish-description">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </td>
          <td class="dish-weight">350 г</td>
          <td class="dish-price">430 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Стейк зі свинини
            <p class="dish-description">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">500 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Горбуша в соусі з білого вина
            <p class="dish-description">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">400 грн</td>
        </tr>
        <tr class="dish-category">
          <th class="menu-category">Гарніри та закуски</th>
          <th></th>
          <th></th>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Запечені овочі
            <p class="dish-description">Горбуша в соусі з білого вина</p>
          </td>
          <td class="dish-weight">200 г</td>
          <td class="dish-price">230 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Картопля фрі
            <p class="dish-description">Картопля, соус томатний</p>
          </td>
          <td class="dish-weight">150 г</td>
          <td class="dish-price">160 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Картопля по-селянськи
            <p class="dish-description">Картопля, спеції, соус пікантний</p>
          </td>
          <td class="dish-weight">150 г</td>
          <td class="dish-price">160 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Хрумкі соління з бочки
            <p class="dish-description">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </td>
          <td class="dish-weight">250 г</td>
          <td class="dish-price">350 грн</td>
        </tr>
        <tr class="dish dish-rank">
          <td class="dish-title">
            Крильця курячі в медовому соусі
            <p class="dish-description">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">420 грн</td>
        </tr>
      </table>

      <table>
        <tr class="dish-category">
          <th class="menu-category">Салати</th>
          <th></th>
          <th></th>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Цезар з куркою
            <p class="dish-description">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </td>
          <td class="dish-weight">230 г</td>
          <td class="dish-price">450 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Цезар з креветками
            <p class="dish-description">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </td>
          <td class="dish-weight">230 г</td>
          <td class="dish-price">300 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            Грецький салат
            <p class="dish-description">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </td>
          <td class="dish-weight">230 г</td>
          <td class="dish-price">280 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">
            М’ясний салат
            <p class="dish-description">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </td>
          <td class="dish-weight">230 г</td>
          <td class="dish-price">300 грн</td>
        </tr>
        <tr class="dish-category">
          <th class="menu-category">Десерти</th>
          <th></th>
          <th></th>
        </tr>
        <tr class="dish">
          <td class="dish-title">Торт наполеон</td>
          <td class="dish-weight">230 г</td>
          <td class="dish-price">300 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">Торт маковий</td>
          <td class="dish-weight">230 г</td>
          <td class="dish-price">300 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">Тірамісу</td>
          <td class="dish-weight">120 г</td>
          <td class="dish-price">260 грн</td>
        </tr>
        <tr class="dish-category">
          <th class="menu-category">Напої</th>
          <th></th>
          <th></th>
        </tr>
        <tr class="dish">
          <td class="dish-title">Чай чорний/зелений</td>
          <td class="dish-weight">500 мл</td>
          <td class="dish-price">100 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">Еспресо</td>
          <td class="dish-weight">30 мл</td>
          <td class="dish-price">100 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">Американо</td>
          <td class="dish-weight">150 мл</td>
          <td class="dish-price">100 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">Капучино</td>
          <td class="dish-weight">200 мл</td>
          <td class="dish-price">160 грн</td>
        </tr>
        <tr class="dish">
          <td class="dish-title">Лате</td>
          <td class="dish-weight">200 мл</td>
          <td class="dish-price">160 грн</td>
        </tr>
      </table>
    </div>
    <button class="btn-menu btn" type="button">Забронювати столик</button>
  </div>
</section>
