.modal {
  opacity: 0;
  visibility: hidden;
  border-radius: 2px;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.book-room-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 105;

  width: 94%;
  max-width: 414px;
  max-height: 96%;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;

  background-color: $main-bg-color;

  transform: translate(-50%, -50%) scale(1.1);
  transition: opacity 500ms cubic-bezier(0.65, 0.05, 0.36, 1),
    visibility 500ms cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);

  @media screen and (min-width: 1024px) {
    max-width: 712px;
  }

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}

.book-room-modal.modal.active ~ .js-overlay-modal {
  opacity: 1;
  visibility: visible;
}

.book-room-btn-close {
  width: 24px;
  height: 24px;
  fill: $black;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.book-room-close-icon {
  stroke: #0e0c07;
  stroke-width: 2px;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: stroke $transition, stroke-width $transition,
    transform $transition;
}

.book-room-close-icon:hover,
.book-room-close-icon:focus {
  stroke: $accent-text-color;
  stroke-width: 5px;
  transform: scale(1.1);
}

.book-room-modal__container {
  width: 100%;
  // max-width: 414px;
  padding: 60px 15px;

  @media screen and (max-width: 413.98px) {
    padding-top: 14vw;
    padding-bottom: 14vw;
  }
  @media screen and (max-width: 320px) {
    padding-top: 44.8px;
    padding-bottom: 44.8px;
  }

  @media screen and (min-width: 1024px) {
    padding: 60px 60px;
  }
}

.book-room-modal__title {
  margin-top: 0;
  margin-bottom: 40px;

  text-align: center;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $black;

  @media screen and (max-width: 413.98px) {
    margin-bottom: 9.6vw;
  }

  @media screen and (max-width: 370px) {
    font-size: 6.3vw;
  }
  @media screen and (max-width: 320px) {
    font-size: 20.15px;
    margin-bottom: 31px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 1.15;
    margin-bottom: 36px;
  }
}

.form-book-table {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.room-form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (min-width: 1024px) {
    margin-bottom: 28px;
  }
}

.form-wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;

    &.second-wrapper {
      justify-content: flex-end;
    }
  }
}

.room-form-wrap {
  position: relative;
}

.form-room-input {
  width: 100%;
  height: 54px;
  padding: 0px 12px;
  appearance: none;

  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  cursor: pointer;

  color: $placeholder-color;
  background-color: $main-bg-color;
  border: 1px solid $accent-text-color;
  border-radius: 2px;
  outline: 0px solid $accent-text-color;

  transform: outline $transition;
  transition-duration: 125ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 413.98px) {
    font-size: 4.8vw;
  }
  @media screen and (max-width: 355px) {
    font-size: 17px;
  }

  @media screen and (min-width: 1024px) {
    width: 288px;
    height: 64px;
    font-size: 24px;
  }
}

.form-room-input:focus,
.form-room-input:hover {
  outline: 2px solid $accent-text-color;
}

.form-room-input:focus + .form-room-icon,
.form-room-input:hover + .form-room-icon {
  fill: $accent-text-color;
}

.form-room-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  fill: #c79002;

  z-index: 998;
  pointer-events: none;

  @media screen and (min-width: 1024px) {
    top: 20px;
    right: 20px;
  }
}

.form-room-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: $accent-text-color;
  text-align: start;
  padding-left: 12px;
  margin-top: 8px;
  text-align: left;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.2;
  }
}

.modal-form-submit {
  display: block;
  width: 100%;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  padding: 19px;

  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);

  background-color: $black;
  border: 1px solid $main-accent-color;
  border-radius: 2px;
  color: $white;

  cursor: pointer;

  transition: color $transition, background-color $transition,
    transform $transition;

  &:hover,
  &:focus {
    color: $black;
    background-color: $main-accent-color;
    transform: scale(1.05);
    @media screen and (min-width: 1024px) {
      transform: scale(1.025);
    }
  }

  @media screen and (max-width: 392px) {
    font-size: 5vw;
  }
  @media screen and (max-width: 360px) {
    font-size: 4.8vw;
  }
  @media screen and (max-width: 320px) {
    font-size: 15.4px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-top: 20px;
    margin-top: 12px;
  }
}
