.modal {
  opacity: 0;
  visibility: hidden;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.book-table-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;

  width: 94%;
  max-width: 414px;
  max-height: 96%;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;

  background-color: #fffdee;

  transform: translate(-50%, -50%) scale(1.1);
  transition: opacity 500ms cubic-bezier(0.65, 0.05, 0.36, 1),
    visibility 500ms cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);

  @media screen and (min-width: 1024px) {
    max-width: 712px;
  }

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}

.btn-close {
  width: 24px;
  height: 24px;
  fill: #000000;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.modal-icon {
  stroke: #0e0c07;
  stroke-width: 2px;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 16px;
  cursor: pointer;
  transition: stroke $transition, stroke-width $transition,
    transform $transition;
}

.modal-icon:hover,
.modal-icon:focus {
  stroke: #c79002;
  stroke-width: 5px;
  transform: scale(1.1);
}

.select-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  fill: #c79002;

  z-index: 999;
  pointer-events: none;
  @media screen and (min-width: 1024px) {
    top: 20px;
  }
}

.icon-calendate {
  background-color: #fffdee;
}

.book-table-modal__container {
  padding: 60px 15px;

  @media screen and (min-width: 1024px) {
    padding: 60px 60px;
    width: 712px;
  }
}

/*.input-span {
    display: inline-flex;
    color:#FFFDEE;
    right: 14px;
    top: 20px;
    z-index: 100;
    position: absolute;
}*/

.book-table-modal__title {
  margin-top: 0;
  margin-bottom: 40px;

  text-align: center;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;
  @media screen and (max-width: 390px) {
    font-size: 6.1vw;
  }
  @media screen and (max-width: 320px) {
    font-size: 19.5px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 1.15;
  }
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (min-width: 1024px) {
    margin-bottom: 28px;
  }
}

.last-form-field {
  margin-bottom: 0;
}

.form-book-table {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-book-table .select-form-wrap {
  margin-bottom: 40px;
}

.form-wrap {
  position: relative;
}

.form-book-table__input {
  width: 100%;
  height: 54px;
  padding: 0px 12px;
  appearance: none;

  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  cursor: pointer;

  color: #808080;
  background-color: #fffdee;
  border: 1px solid #c79002;
  border-radius: 2px;
  outline: 0px solid #c79002;

  transition: outline $transition;
  transition-duration: 125ms;

  &::placeholder,
  & {
    font-size: 24px;

    @media screen and (max-width: 413.98px) {
      font-size: 5.7vw;
    }
    @media screen and (max-width: 320px) {
      font-size: 18.25px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 288px;
    height: 64px;
  }
}

.form-book-table__input:focus,
.form-book-table__input:hover {
  outline: 2px solid $accent-text-color;
}

.form-book-table__input:focus + .select-icon,
.form-book-table__input:hover + .select-icon {
  fill: #c79002;
}

.form__label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
  text-align: start;
  padding-left: 12px;
  margin-top: 8px;
  text-align: left;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

.form-button {
  display: block;
  margin: 0 auto;
  width: 100%;

  padding: 19px;

  font-style: normal;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0em;
  background-color: #000000;
  border: 1px solid $main-accent-color;
  border-radius: 2px;
  color: #ffffff;
  transition: background-color $transition, color $transition,
    transform $transition;

  @media screen and (max-width: 396px) {
    font-size: 4.9vw;
  }
  @media screen and (max-width: 336px) {
    font-size: 4.6vw;
  }
  @media screen and (max-width: 320px) {
    font-size: 15.2px;
  }
  @media screen and (min-width: 1024px) {
    // margin-top: 18px;
    font-size: 24px;
    line-height: 1.21;
    padding: 17px;
  }
}

.form-button:hover,
.form-button:focus {
  color: $black;
  background-color: $main-accent-color;
  transform: scale(1.05);
  @media screen and (min-width: 1024px) {
    transform: scale(1.025);
  }
}
