<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>
    <p class="about-restaurant-uppertitle">Amet minim mollit non</p>
    <p class="about-restaurant-title">MIMIHO</p>

    <p class="about-restaurant-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/homepage/about-restaurant/about-1-desk.webp    1x,
          ./images/homepage/about-restaurant/about-1-desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/homepage/about-restaurant/about-1-desk.jpg    1x,
          ./images/homepage/about-restaurant/about-1-desk@2x.jpg 2x
        "
        type="image/jpg"
      />

      <source
        media="(min-width:1024px)"
        srcset="
          ./images/homepage/about-restaurant/about-1-tablet.webp    1x,
          ./images/homepage/about-restaurant/about-1-tablet@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1024px)"
        srcset="
          ./images/homepage/about-restaurant/about-1-tablet.jpg    1x,
          ./images/homepage/about-restaurant/about-1-tablet@2x.jpg 2x
        "
        type="image/jpg"
      />

      <source
        media="(max-width:1023.98px)"
        srcset="
          ./images/homepage/about-restaurant/about-1-mobile.webp    1x,
          ./images/homepage/about-restaurant/about-1-mobile@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width:1023.98px)"
        srcset="
          ./images/homepage/about-restaurant/about-1-mobile.jpg    1x,
          ./images/homepage/about-restaurant/about-1-mobile@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/homepage/about-restaurant/about-1-mobile.jpg"
        alt="зал ресторану"
        class="about-restaurant-img"
      />
    </picture>

    <div class="about-restaurant-wrapper">
      <picture>
        <!-- desktop -->
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/homepage/about-restaurant/about-2-desk.webp    1x,
            ./images/homepage/about-restaurant/about-2-desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/homepage/about-restaurant/about-2-desk.jpg    1x,
            ./images/homepage/about-restaurant/about-2-desk@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width:1024px)"
          srcset="
            ./images/homepage/about-restaurant/about-2-tablet.webp    1x,
            ./images/homepage/about-restaurant/about-2-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1024px)"
          srcset="
            ./images/homepage/about-restaurant/about-2-tablet.jpg    1x,
            ./images/homepage/about-restaurant/about-2-tablet@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width:1023.98px)"
          srcset="
            ./images/homepage/about-restaurant/about-2-mobile.webp    1x,
            ./images/homepage/about-restaurant/about-2-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width:1023.98px)"
          srcset="
            ./images/homepage/about-restaurant/about-2-mobile.jpg    1x,
            ./images/homepage/about-restaurant/about-2-mobile@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/homepage/about-restaurant/about-2-mobile.jpg"
          alt="інтер'єр ресторану"
          class="about-restaurant-img-position"
        />
      </picture>
      <p class="about-restaurant-description desc-color">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <!-- cлайдер -->

    <div class="ar-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-1-desk.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-1-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-1-desk.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-1-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-1-tablet.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-1-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-1-tablet.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-1-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-1-mobile.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-1-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-1-mobile.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-1-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/homepage/about-restaurant/gallery/gallery-1-mobile.jpg"
              alt="келих з вином в руці"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-2-desk.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-2-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-2-desk.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-2-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-2-tablet.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-2-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-2-tablet.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-2-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-2-mobile.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-2-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-2-mobile.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-2-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/homepage/about-restaurant/gallery/gallery-2-mobile.jpg"
              alt="засервірований стіл"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-3-desk.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-3-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-3-desk.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-3-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-3-tablet.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-3-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-3-tablet.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-3-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-3-mobile.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-3-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-3-mobile.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-3-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/homepage/about-restaurant/gallery/gallery-3-mobile.jpg"
              alt="накритий стіл для двох"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-4-desk.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-4-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-4-desk.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-4-desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-4-tablet.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-4-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-4-tablet.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-4-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-4-mobile.webp    1x,
                ./images/homepage/about-restaurant/gallery/gallery-4-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1023.98px)"
              srcset="
                ./images/homepage/about-restaurant/gallery/gallery-4-mobile.jpg    1x,
                ./images/homepage/about-restaurant/gallery/gallery-4-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/homepage/about-restaurant/gallery/gallery-4-mobile.jpg"
              alt="подача устриць"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-btn-wrapper">
        <button type="button" class="swiper-btn-arrow ar-swiper-next">
          <svg
            class="swiper-btn-icon-arrow-left arrow-icon"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn-arrow ar-swiper-prew">
          <svg
            class="swiper-btn-icon-arrow-right arrow-icon"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
