<section class="contacts">
  <div class="container">
    <h3 class="visually-hidden">Контакти для зв'язку</h3>
    <div class="connection">
      <h2 class="contacts-title">MIMIHO</h2>
      <p class="contacts-text">Ресторанно-готельний комплекс</p>
      <ul class="contacts-list list">
        <li class="contacts-item restor">
          <p class="contact-title">Ресторан</p>
          <div class="contacts-wrapper">
            <svg class="contacts-phone-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="contacts-link link" href="tel:0955559533"
              >095 555 95&nbsp;33</a
            >
          </div>
        </li>
        <li class="contacts-item hotel">
          <p class="contact-title">Готель</p>
          <div class="contacts-wrapper">
            <svg class="contacts-phone-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="contacts-link link" href="tel:0668491089"
              >066 849 10&nbsp;89</a
            >
            <a class="contacts-link link" href="tel:0672758540"
              >067 275 85&nbsp;40</a
            >
          </div>
        </li>
        <li class="contacts-item">
          <div class="contacts-wrapper geo">
            <svg class="contacts-geo-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <a
              class="contacts-link geo link"
              href="https://goo.gl/maps/z1gd4s5hoPVDhXTQ9"
              target="_blank"
              rel="nofollow noopener noreferer"
              >Україна, м. Полтава, вул.&nbsp;Маршала Бірюзова,&nbsp;15
            </a>
          </div>
        </li>
      </ul>
    </div>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40308.48584800431!2d34.576732467811354!3d49.60739192601298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1674816453098!5m2!1suk!2sua"
      style="border: 0"
      allowfullscreen=""
      width="384"
      height="220"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
