<section class="details-restaurant details-restaurant--background section">
  <div class="container">
    <div class="details-restaurant__dis">
      <h2 class="details-restaurant__dis-title">MIMIHO</h2>
      <h3 class="details-restaurant__dis-type">Ресторан</h3>
      <p class="details-restaurant__dis-p">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-restaurant__flexbox">
      <div class="details-restaurant-wrapper">
        <div class="details-restaurant-gallery">
          <div class="restaurant-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-1-desk.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-1-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-1-desk.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-1-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-1-tablet.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-1-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-1-tablet.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-1-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-1-mobile.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-1-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-1-mobile.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-1-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant__swiper-img"
                src="./images/homepage/details-restaurant/gallery/gallery-1-mobile.jpg"
                alt="келих з вином в руці"
              />
            </picture>
          </div>
          <div class="restaurant-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-2-desk.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-2-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-2-desk.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-2-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-2-tablet.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-2-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-2-tablet.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-2-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-2-mobile.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-2-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-2-mobile.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-2-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant__swiper-img"
                src="./images/homepage/details-restaurant/gallery/gallery-2-mobile.jpg"
                alt="засервірований стіл"
              />
            </picture>
          </div>
          <div class="restaurant-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-3-desk.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-3-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-3-desk.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-3-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-3-tablet.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-3-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-3-tablet.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-3-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-3-mobile.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-3-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-3-mobile.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-3-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant__swiper-img"
                src="./images/homepage/details-restaurant/gallery/gallery-3-mobile.jpg"
                alt="накритий стіл для двох"
              />
            </picture>
          </div>
          <div class="restaurant-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-4-desk.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-4-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-4-desk.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-4-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-4-tablet.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-4-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-4-tablet.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-4-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-4-mobile.webp    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-4-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-restaurant/gallery/gallery-4-mobile.jpg    1x,
                  ./images/homepage/details-restaurant/gallery/gallery-4-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant__swiper-img"
                src="./images/homepage/details-restaurant/gallery/gallery-4-mobile.jpg"
                alt="подача устриць"
              />
            </picture>
          </div>
        </div>
        <div class="arrows-btn-wrapper">
          <button type="button" class="slick-prev slider-arrows">
            <svg class="slick-prev-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="slick-next slider-arrows">
            <svg class="slick-next-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <ul class="details-restaurant__btn list">
        <li>
          <button
            type="button"
            class="details-restaurant__btn-item js-open-modal"
            data-modal="1"
          >
            Забронювати столик
          </button>
        </li>
        <li>
          <a
            class="details-restaurant__link-item link"
            href="./restaurant.html"
          >
            Переглянути меню
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
