<section class="details-hotel details-hotel--background section">
  <div class="container">
    <!-- title text -->
    <div class="details-hotel-title-wrapper">
      <p lang="en" class="details-hotel-name">MIMIHO</p>
      <h2 class="details-hotel-title">Готель</h2>
      <p class="details-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!-- title text -->

    <!-- swiper and order buttons -->
    <div class="details-hotel-container">
      <div class="details-hotel-wrapper">
        <div class="details-hotel-gallery">
          <div class="hotel-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-1-desk.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-1-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-1-desk.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-1-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-1-tablet.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-1-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-1-tablet.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-1-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-1-mobile.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-1-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-1-mobile.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-1-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-hotel__swiper-img"
                src="./images/homepage/details-hotel/gallery/gallery-1-mobile.jpg"
                alt="келих з вином в руці"
              />
            </picture>
          </div>
          <div class="hotel-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-2-desk.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-2-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-2-desk.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-2-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-2-tablet.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-2-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-2-tablet.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-2-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-2-mobile.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-2-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-2-mobile.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-2-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-hotel__swiper-img"
                src="./images/homepage/details-hotel/gallery/gallery-2-mobile.jpg"
                alt="засервірований стіл"
              />
            </picture>
          </div>
          <div class="hotel-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-3-desk.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-3-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-3-desk.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-3-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-3-tablet.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-3-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-3-tablet.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-3-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-3-mobile.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-3-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-3-mobile.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-3-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-hotel__swiper-img"
                src="./images/homepage/details-hotel/gallery/gallery-3-mobile.jpg"
                alt="накритий стіл для двох"
              />
            </picture>
          </div>
          <div class="hotel-gallery-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-4-desk.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-4-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-4-desk.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-4-desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-4-tablet.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-4-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-4-tablet.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-4-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-4-mobile.webp    1x,
                  ./images/homepage/details-hotel/gallery/gallery-4-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:1023.98px)"
                srcset="
                  ./images/homepage/details-hotel/gallery/gallery-4-mobile.jpg    1x,
                  ./images/homepage/details-hotel/gallery/gallery-4-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-hotel__swiper-img"
                src="./images/homepage/details-hotel/gallery/gallery-4-mobile.jpg"
                alt="подача устриць"
              />
            </picture>
          </div>
        </div>
        <div class="dh-arrows-btn-wrapper">
          <button type="button" class="dh-slick-prev slider-arrows">
            <svg class="dh-slick-prev-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="dh-slick-next slider-arrows">
            <svg class="dh-slick-next-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- order buttons -->
      <div class="details-hotel-button-thumb">
        <button
          class="details-hotel-booking-button js-open-modal"
          type="button"
          data-modal="2"
        >
          Забронювати номер
        </button>

        <!-- <a class="details-hotel-price-button" href="/">Переглянути ціни</a> -->
        <button
          class="details-hotel-price-button js-open-modal"
          data-modal="3"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
