<footer class="footer">
  <div class="container footer__box">
    <div class="footer__bottom">
        <a href="./index.html" lang="en" class="footer__logo">MIMINO</a>
    </div>
    <!-- <div class="footer__address">
      <a href="#" lang="en" class="logo logo--bottom"><span class="logo--blue">Web</span>Studio</a>
      <address class="address">
        <ul class="address__list list">
          <li class="address__item">
            <p class="address__text">м. Київ, пр-т Лесі Українки, 26</p>
          </li>
          <li class="address__item"">
                <a href=" mailto:info@devstudio.com" class="address__email">info@devstudio.com</a>
          </li>
          <li class="address__item"">
                <a href=" tel:+380961111111" class="address__tel">+38 096 111 11 11</a>
          </li>
        </ul>
      </address>
    </div> -->

    <div class="footer-join">
      <nav class="footer__nav">
        <ul class="footer__list list">
          <li class="footer__item">
            <a href="./index.html" class="footer__link link futter__current">Головна</a>
          </li>
          <li class="footer__item">
            <a href="./restaurant.html" class="footer__link link">Ресторан</a>
          </li>
          <li class="footer__item">
            <a href="./hotel.html" class="footer__link link">Готель</a>
          </li>
        </ul>
      </nav>

      <!-- <h3 class="box-join__title">приєднуйтесь</h3> -->
      <ul class="box-join__soc list">
        <li class="box-join__items">
          <a href="" class="box-join__link link"><svg width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg></a>
        </li>
        <li class="box-join__items">
          <a href="" class="box-join__link link"><svg width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg></a>
        </li>
        <li class="box-join__items">
          <a href="" class="box-join__link link"><svg width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg></a>
        </li>
        
      </ul>
    </div>
    <!-- <div class="box-subscription">
      <h3 class="box-subscription__join">Підпишіться на розсилку</h3>
      <div class="box-subscription__connect">
        <div class="form-icon">
          <input type="email" name="email" id="email" autocomplete="off" placeholder="E-mail"
            class="box-subscription__input" />
        </div>
        <div class="form-action">
          <button type="submit" class="form-action__button">Підписатися
            <span class="form-action__send">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-icon-send"></use>
              </svg>
            </span>
          </button>
        </div> -->
      </div>
    </div>
</footer>