<footer class="footer">
  <div class="container ">
    <div class="footer__box">
    <div class="footer__bottom">
        <a href="./index.html" lang="en" class="footer__logo">MIMIHO</a>
    </div>
    <div class="footer-join">
      <nav class="footer__nav">
        <ul class="footer__list list">
          <li class="footer__item">
            <a href="./index.html" class="footer__link link ">Головна</a>
          </li>
          <li class="footer__item">
            <a href="./restaurant.html" class="footer__link link">Ресторан</a>
          </li>
          <li class="footer__item">
            <a href="./hotel.html" class="footer__link link ">Готель</a>
          </li>
        </ul>
      </nav>

      <ul class="box-join__soc list">
        <li class="box-join__items">
          <!-- <span class="link__title">Instagram</span> -->
          <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener nofollow" class="box-join__link link">
            <span class="link__title">Instagram</span>
            <svg width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
            </svg></a>
        </li>
        <li class="box-join__items">
          <!-- <span class="link__title">Facebook</span> -->
          <a href="https://www.facebook.com/index.php" target="_blank" rel="noreferrer noopener nofollow" class="box-join__link link">
            <span class="link__title">Facebook</span>
            <svg width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
            </svg></a>
        </li>
        <li class="box-join__items">
          <!-- <span class="link__title">Telegram</span> -->
          <a href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener nofollow" class="box-join__link link">
            <span class="link__title">Telegram</span>
            <svg width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
            </svg></a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</footer>