<div class="container">
  <nav class="header-nav">
    <a class="logo" href="./">Mimiho</a>

    <ul class="list header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link" href="./restaurant.html"> Ресторан</a>
        <a href="tel:+380955559533" class="header-nav_phone-link">
          <svg class="header-nav-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          <span class="header-nav_phone-number">095 555 95 33</span>
        </a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="./hotel.html">Готель</a
        ><a href="tel:+3800668491089" class="header-nav_phone-link">
          <svg class="header-nav-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          <span class="header-nav_phone-number">066 849 10 89</span>
        </a>
      </li>
    </ul>
  </nav>
  <ul class="header-soc-list list">
    <li class="header-soc-item">
      <a
        class="header-soc-link"
        href="https://www.instagram.com/mimino.poltava/"
        target="_blank"
        rel="noreferrer noopener nofollow"
      >
        <svg class="soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-soc-item">
      <a
        href="./"
        class="header-soc-link"
        target="_blank"
        rel="noreferrer noopener nofollow"
      >
        <svg class="soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header-soc-item">
      <a
        href="./"
        class="header-soc-link"
        target="_blank"
        rel="noreferrer noopener nofollow"
      >
        <svg class="soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
