<section class="classic-suite section">
    <div class="container">
        <ul class="classic-suite-content list">
            <li class="cs-content-item">
                <div class="classic-suite-wrapper">
                    <p class="classic-suite-subtitle">Amet minim mollit non</p>
                    <h2 class="classic-suite-logo">
                        mimiho
                    </h2>
                    <h3 class="classic-suite-title title">
                        ДВОМІСНИЙ НОМЕР
                    </h3>
                    <p class="classic-suite-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="classic-suite-photo">
                    <picture class="cs-suite-photo">
                        <!-- desktop -->
                        <source 
                        media="(min-width:1280px)"
                        srcset="
                        ./images/hotel/classic-suite/suite-desk.webp 1x,
                        ./images/hotel/classic-suite/suite-desk@2x.webp 2x"
                        type="image/webp">
                        <source 
                        media="(min-width:1280px)"
                        srcset="
                        ./images/hotel/classic-suite/suite-desk.jpg 1x,
                        ./images/hotel/classic-suite/suite-desk@2x.jpg 2x"
                        type="image/jpg">
                        <!-- tablet -->
                        <source 
                        media="(min-width:1024px)"
                        srcset="
                        ./images/hotel/classic-suite/suite-tablet.webp 1x,
                        ./images/hotel/classic-suite/suite-tablet@2x.webp 2x"
                        type="image/webp">
                        <source 
                        media="(min-width:1024px)"
                        srcset="
                        ./images/hotel/classic-suite/suite-tablet.jpg 1x,
                        ./images/hotel/classic-suite/suite-tablet@2x.jpg 2x"
                        type="image/jpg">
                        <!-- mobile -->
                         <source 
                        media="(min-width:320px)"
                        srcset="
                        ./images/hotel/classic-suite/suite-mobile.webp 1x,
                        ./images/hotel/classic-suite/suite-mobile@2x.webp 2x"
                        type="image/webp">
                        <source 
                        media="(min-width:320px)"
                        srcset="
                        ./images/hotel/classic-suite/suite-mobile.jpg 1x,
                        ./images/hotel/classic-suite/suite-mobile@2x.jpg 2x"
                        type="image/jpg">
                        <img
                        src="./images/hotel/classic-suite/suite-mobile.jpg"
                        alt="photo gallery"
                        />
                    </picture>
                </div>
            </li>
            <li class="cs-content-item">
                <div class="cs-wrapper">
                    <div class="classic-suite-gallery swiper-container">
                        <div class="swiper-wrapper">
                            <div class="gallery-item swiper-slide">
                                <picture>
                                    <!-- desktop -->
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-1-desk.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-1-desk@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-1-desk.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-1-desk@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- tablet -->
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-1-tablet.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-1-tablet@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-1-tablet.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-1-tablet@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- mobile -->
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-1-mobile.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-1-mobile@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-1-mobile.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-1-mobile@2x.jpg 2x"
                                    type="image/jpg">
                                    <img
                                    src="./images/hotel/classic-suite/gallery/gallery-1-mobile.jpg"
                                    alt="photo gallery"
                                    />
                                </picture>
                            </div>
                            
                            <div class="gallery-item swiper-slide">
                                <picture>
                                    <!-- desktop -->
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-2-desk.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-2-desk@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-2-desk.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-2-desk@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- tablet -->
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-2-tablet.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-2-tablet@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-2-tablet.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-2-tablet@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- mobile -->
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-2-mobile.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-2-mobile@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-2-mobile.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-2-mobile@2x.jpg 2x"
                                    type="image/jpg">
                                    <img
                                    src="./images/hotel/classic-suite/gallery/gallery-2-mobile.jpg"
                                    alt="photo gallery"
                                    />
                                </picture>
                            </div>
                        
                            <div class="gallery-item swiper-slide">
                                <picture>
                                    <!-- desktop -->
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-3-desk.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-3-desk@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-3-desk.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-3-desk@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- tablet -->
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-3-tablet.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-3-tablet@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-3-tablet.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-3-tablet@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- mobile -->
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-3-mobile.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-3-mobile@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-3-mobile.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-3-mobile@2x.jpg 2x"
                                    type="image/jpg">
                                    <img
                                    src="./images/hotel/classic-suite/gallery/gallery-3-mobile.jpg"
                                    alt="photo gallery"
                                    />
                                </picture>
                            </div>
                            
                            <div class="gallery-item swiper-slide">
                                <picture>
                                    <!-- desktop -->
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-4-desk.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-4-desk@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1280px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-4-desk.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-4-desk@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- tablet -->
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-4-tablet.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-4-tablet@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:1024px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-4-tablet.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-4-tablet@2x.jpg 2x"
                                    type="image/jpg">
                                    <!-- mobile -->
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-4-mobile.webp 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-4-mobile@2x.webp 2x"
                                    type="image/webp">
                                    <source 
                                    media="(min-width:320px)"
                                    srcset="
                                    ./images/hotel/classic-suite/gallery/gallery-4-mobile.jpg 1x,
                                    ./images/hotel/classic-suite/gallery/gallery-4-mobile@2x.jpg 2x"
                                    type="image/jpg">
                                    <img
                                    src="./images/hotel/classic-suite/gallery/gallery-4-mobile.jpg"
                                    alt="photo gallery"
                                    />
                                </picture>
                            </div>
                        </div>
                    </div>
                    <ul class="classic-arrow-list list">
                        <li class="classic-arrow-item">
                            <button  type="button" class="classic-arrow-next btn">
                                <svg width="32" height="32">
                                    <use href="./images/icons.svg#icon-arrow-left"></use>
                                </svg>
                            </button>
                            
                        </li>
                        <li class="classic-arrow-item">
                            <button  type="button" class="classic-arrow-prev btn">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                <ul class="classic-action-list list">
                    <li class="classic-action-item">
                        <a href="./room.html" class="classic-suite-btn link" target="blank_">Детальніше</a>
                    </li>
                    <li class="classic-action-item">
                        <button class="classic-suite-btn btn">Переглянути ціни</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>    
</section>
