<section class="grand-suite">
	<div class="container">
		<p class="gs-description">Amet minim mollit non</p>
		<h2 class="gs-logo">MIMIHO</h2>
		<h3 class="gs-title">ДВОМІСНИЙ НОМЕР люкс</h3>
		<p class="gs-text">Amet minim mollit non deserunt ullamco
			est sit aliqua dolor do amet sint. Velit officia consequat
			duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
		</p>

<div class="gs-photo">
	<picture class="suite-photo">
		<!-- desktop -->
		<source media="(min-width:1280px)" srcset="
            ./images/hotel/grand-suite/suite-desk.webp    1x,
            ./images/hotel/grand-suite/suite-desk@2x.webp 2x
          " type="image/webp" />
		<source media="(min-width:1280px)" srcset="
            ./images/hotel/grand-suite/suite-desk.jpg    1x,
            ./images/hotel/grand-suite/suite-desk@2x.jpg 2x
          " type="image/jpg" />
		<!-- tablet -->
		<source media="(min-width:1024px)" srcset="
            ./images/hotel/grand-suite/suite-tablet.webp    1x,
            ./images/hotel/grand-suite/suite-tablet@2x.webp 2x
          " type="image/webp" />
		<source media="(min-width:1024px)" srcset="
            ./images/hotel/grand-suite/suite-tablet.jpg    1x,
            ./images/hotel/grand-suite/suite-tablet@2x.jpg 2x
          " type="image/jpg" />
		<!-- mobile -->
		<source media="(min-width:320px)" srcset="
            ./images/hotel/grand-suite/suite-mobile.webp    1x,
            ./images/hotel/grand-suite/suite-mobile@2x.webp 2x
          " type="image/webp" />
		<source media="(min-width:320px)" srcset="
            ./images/hotel/grand-suite/suite-mobile.jpg    1x,
            ./images/hotel/grand-suite/suite-mobile@2x.jpg 2x
          " type="image/jpg" />
		<img src="./images/hotel/grand-suite/suite-mobile.jpg" alt="photo gallery" />
	</picture>
</div>


<div class="swiper gs-swiper">
		<div class="swiper-wrapper sw-wrapper">

		<!-- Слайди -->
		<div class="gallery-item swiper-slide">
			<picture>
	<!-- desktop -->
	<source media="(min-width:1280px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-1-desk.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-1-desk@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:1280px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-1-desk.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-1-desk@2x.jpg 2x
                " type="image/jpg" />
	<!-- tablet -->
	<source media="(min-width:1024px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-1-tablet.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-1-tablet@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:1024px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-1-tablet.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-1-tablet@2x.jpg 2x
                " type="image/jpg" />
	<!-- mobile -->
	<source media="(min-width:320px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-1-mobile.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-1-mobile@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:320px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-1-mobile.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-1-mobile@2x.jpg 2x
                " type="image/jpg" />
	<img src="./images/hotel/grand-suite/gallery/gallery-1-mobile.jpg" alt="photo gallery" />
</picture>

		</div>
		<div class="gallery-item swiper-slide">
			<picture>
	<!-- desktop -->
	<source media="(min-width:1280px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-2-desk.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-2-desk@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:1280px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-2-desk.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-2-desk@2x.jpg 2x
                " type="image/jpg" />
	<!-- tablet -->
	<source media="(min-width:1024px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-2-tablet.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-2-tablet@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:1024px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-2-tablet.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-2-tablet@2x.jpg 2x
                " type="image/jpg" />
	<!-- mobile -->
	<source media="(min-width:320px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-2-mobile.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-2-mobile@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:320px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-2-mobile.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-2-mobile@2x.jpg 2x
                " type="image/jpg" />
	<img src="./images/hotel/grand-suite/gallery/gallery-2-mobile.jpg" alt="photo gallery" />
</picture>

		</div>
		<div class="gallery-item swiper-slide">
			<picture>
	<!-- desktop -->
	<source media="(min-width:1280px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-3-desk.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-3-desk@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:1280px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-3-desk.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-3-desk@2x.jpg 2x
                " type="image/jpg" />
	<!-- tablet -->
	<source media="(min-width:1024px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-3-tablet.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-3-tablet@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:1024px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-3-tablet.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-3-tablet@2x.jpg 2x
                " type="image/jpg" />
	<!-- mobile -->
	<source media="(min-width:320px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-3-mobile.webp    1x,
                  ./images/hotel/grand-suite/gallery/gallery-3-mobile@2x.webp 2x
                " type="image/webp" />
	<source media="(min-width:320px)" srcset="
                  ./images/hotel/grand-suite/gallery/gallery-3-mobile.jpg    1x,
                  ./images/hotel/grand-suite/gallery/gallery-3-mobile@2x.jpg 2x
                " type="image/jpg" />
	<img src="./images/hotel/grand-suite/gallery/gallery-3-mobile.jpg" alt="photo gallery" />
</picture>
</div>

		<div class="gallery-item swiper-slide">
			<picture>
			<!-- desktop -->
			<source media="(min-width:1280px)" srcset="
		                  ./images/hotel/grand-suite/gallery/gallery-4-desk.webp    1x,
		                  ./images/hotel/grand-suite/gallery/gallery-4-desk@2x.webp 2x
		                " type="image/webp" />
			<source media="(min-width:1280px)" srcset="
		                  ./images/hotel/grand-suite/gallery/gallery-4-desk.jpg    1x,
		                  ./images/hotel/grand-suite/gallery/gallery-4-desk@2x.jpg 2x
		                " type="image/jpg" />
			<!-- tablet -->
			<source media="(min-width:1024px)" srcset="
		                  ./images/hotel/grand-suite/gallery/gallery-4-tablet.webp    1x,
		                  ./images/hotel/grand-suite/gallery/gallery-4-tablet@2x.webp 2x
		                " type="image/webp" />
			<source media="(min-width:1024px)" srcset="
		                  ./images/hotel/grand-suite/gallery/gallery-4-tablet.jpg    1x,
		                  ./images/hotel/grand-suite/gallery/gallery-4-tablet@2x.jpg 2x
		                " type="image/jpg" />
			<!-- mobile -->
			<source media="(min-width:320px)" srcset="
		                  ./images/hotel/grand-suite/gallery/gallery-4-mobile.webp    1x,
		                  ./images/hotel/grand-suite/gallery/gallery-4-mobile@2x.webp 2x
		                " type="image/webp" />
			<source media="(min-width:320px)" srcset="
		                  ./images/hotel/grand-suite/gallery/gallery-4-mobile.jpg    1x,
		                  ./images/hotel/grand-suite/gallery/gallery-4-mobile@2x.jpg 2x
		                " type="image/jpg" />
			<img src="./images/hotel/grand-suite/gallery/gallery-4-mobile.jpg" alt="photo gallery" />
		</picture>
		</div>
	</div>

	<!-- Кнопки перемикання -->
	<div class="gs-arrows-slide">
		<ul class="grand-arrow-list list">
			<li class="grand-arrow-item">
				<button type="button" class="grand-arrow-next btn">
					<svg width="32" height="32">
						<use href="./images/icons.svg#icon-arrow-left"></use>
					</svg>
				</button>
			</li>
			<li class="grand-arrow-item">
				<button type="button" class="grand-arrow-prev btn">
					<svg width="32" height="32">
						<use href="./images/icons.svg#icon-arrow-right"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>

	<!-- Кнопки -->
<div class="gs-button">
	<ul class="grand-action-list list">
		<li class="grand-action-item">
			<a href="./room.html" class="grand-suite-btn btn link" target="blank_">Детальніше</a>
		</li>
		<li class="grand-action-item">
			<button class="grand-suite-btn btn">Переглянути ціни</button>
		</li>
	</ul>
</div>
	
</div>
</div>
</section>
