<!--! ___________SECTION GRAND-SUITE__________ -->
<section class="grand-suite">
  <div class="container">
    <p class="grand-suite-description">Amet minim mollit non</p>
    <h2 class="grand-suite-mimino-title">MIMIHO</h2>
    <h3 class="grand-suite-title">ДВОМІСНИЙ НОМЕР люкс</h3>
    <p class="grand-suite-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <!--! ___________IMAGE GRAND-SUITE__________ -->
    <ul class="grand-suite-list list">
      <li class="grand-suite-item">
        <img
          class="image-grand-suite"
          src="./images/hotel/grand-suite/suite-desk.jpg"
          width="244"
          height="322"
          alt="modern-studio-apartment-design-with-bedroom-living-space"
        />
      </li>

      <div class="grand-slide">
        <li class="grand-suite-item">
          <img
            class="image-grand-suite-gallery"
            src="./images/hotel/grand-suite/gallery/gallery-1-desk.jpg"
            width="194"
            height="194"
            alt="arrangement-pf-bathroom-elements-self-care"
          />
        </li>
        <li class="grand-suite-item">
          <img
            class="image-grand-suite-gallery-gallery"
            src="./images/hotel/grand-suite/gallery/gallery-2-desk.jpg"
            width="194"
            height="194"
            alt="cup-tea-stands-wooden-windowsill"
          />
        </li>
      </div>
    </ul>

    <!--! __________BUTTON GRAND-SUITE__________ -->
    <ul class="btn-list list">
      <li class="grand-suite-item">
        <button class="grand-suite-btn btn" type="button">Детальніше</button>
      </li>
      <li class="grand-suite-item">
        <button class="grand-suite-btn btn" type="button">
          Переглянути ціни
        </button>
      </li>
    </ul>
  </div>
</section>
