

<!--! ___________SECTION GRAND-SUITE__________ -->
<section class="grand-suite">
  <div class="container">
    <p class="grand-suite-description">Ametminimmollitnon</p>
    <h2 class="grand-suite-mimino-title">MIMIHO</h2>
    <h3 class="grand-suite-title">ДВОМІСНИЙ НОМЕР люкс</h3>
    <p class="grand-suite-text">Ametminimmollitnondeseruntullamco
      estsitaliquadolordoametsint. Velitofficiaconsequatduisenimvelit
      mollit. Exercitationveniamconsequatsuntnostrudamet.</p>


<!--! ___________IMAGE GRAND-SUITE__________ -->
    <ul class="grand-suite-list list">
      <li class="grand-suite-item">
        <img class="image" src="/src/images/hotel/grand-suite/suite-desk.jpg"
        width="460"height="574"alt="modern-studio-apartment-design-with-bedroom-living-space">
      </li>
      <li class="grand-suite-item">
        <img class="image" href="./images/hotel/grand-suite/gallery/gallery-1-desk.jpg"
        width="254"height="254"alt="arrangement-pf-bathroom-elements-self-care">
      </li>
      <li class="grand-suite-item">
        <img class="image" href="./images/hotel/grand-suite/gallery/gallery-2-desk.jpg"
        width="254"height="254"alt="cup-tea-stands-wooden-windowsill">
      </li>
    </ul>


    <!--! __________BUTTON GRAND-SUITE__________ -->
    <ul class="btn-list list">
      <li class="grand-suite-item">
        <button class="grand-suite-btn btn"type="button">Детальніше</button>
      </li>
      <li class="grand-suite-item">
        <button class="grand-suite-btn btn"type="button">Переглянути ціни</button>
      </li>
    </ul>
</section>
</div>

