<section class="section-hero hero-hotel">
  <div class="container hero-container">
    <h1 class="hero-title hero-hotel-title">Mimiho</h1>
    <h2 class="hero-subtitle hero-hotel-subtitle">Готель</h2>

    <div class="hero-btn-wrapper">
      <button class="btn-transparent hero-btn" type="button">
        Забронювати столик</button
      ><button class="btn-transparent hero-btn" type="button">
        Забронювати номер
      </button>
    </div>

    <address class="location-address">
      <a href="./" class="location-link link">
        <svg class="location-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <span class="location-text"
          >Україна, м.&nbsp;Полтава, вул.&nbsp;Маршала Бірюзова,&nbsp;15</span
        >
      </a>
    </address>

    <ul class="hero-soc-list list">
      <li class="hero-soc-item">
        <a
          class="hero-soc-link link"
          href="https://www.instagram.com/mimino.poltava/"
          target="_blank"
          rel="noreferrer noopener nofollow"
        >
          <svg class="soc-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-item">
        <a
          href="./"
          class="hero-soc-link link"
          target="_blank"
          rel="noreferrer noopener nofollow"
        >
          <svg class="soc-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-item">
        <a
          href="./"
          class="hero-soc-link link"
          target="_blank"
          rel="noreferrer noopener nofollow"
        >
          <svg class="soc-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
