<section class="large-suite section">
    <div class="container">
        
        <div class="large-suite-wrapper">
            <p class="large-suite-subtitle">Amet minim mollit non</p>
            <h2 class="large-suite-logo">
                mimiho
            </h2>
            <h3 class="large-suite-title title">
                ТРЬОХМІСНИЙ НОМЕР
            </h3>
            <p class="large-suite-description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <img src="./images/hotel/grand-suite/suite-desk.jpg" alt="Photo room" width="244" height="322" class="large-suite-photo">

        <div class="wrapper large-suite-gallery">
            <div class="gallery-item">
                <img src="./images/hotel/classic-suite/gallery/gallery-1-desk.jpg" alt="Photo gallery"  width="194" height="194" class="grant-suite-demoimg">
            </div>
            <!-- <div class="gallery-item">
                <img src="./images/hotel/large-suite/gallery/gallery-2-desk.jpg" alt="Photo gallery" class="grant-suite-demoimg">
            </div> -->
            <ul class="large-arrow-list list">
                <li class="large-arrow-item">
                    <svg width="30" height="16">
                        <use src="../images/icons.svg#icon-arrow-left"></use>
                    </svg>
                </li>
                <li class="large-arrow-item">
                    <svg width="30" height="16">
                        <use src="./images/icons.svg#icon-arrow-right"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <ul class="large-action-list list">
            <li class="large-action-item">
                <a herf="./room.html" class="large-suite-btn link">Детальніше</a>
            </li>
            <li class="large-action-item">
                <button class="large-suite-btn btn">Переглянути ціни</button>
            </li>
        </ul>
</section>