<section class="large-suite section">
    <div class="container">
        <ul class="large-suite-content list">
            <li class="content-item">
                <div class="wrapper large-suite-wrapper">
                    <p class="large-suite-subtitle">Amet minim mollit non</p>
                    <h2 class="large-suite-logo">
                        mimiho
                    </h2>
                    <h3 class="large-suite-title title">
                        ТРЬОХМІСНИЙ НОМЕР
                    </h3>
                    <p class="large-suite-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="large-suite-photo">
                    <picture class="suite-photo">
                        <!-- desktop -->
                        <source 
                        media="(min-width:1280px)"
                        srcset="
                        ./images/hotel/large-suite/suite-desk.webp 1x,
                        ./images/hotel/large-suite/suite-desk@2x.webp 2x"
                        type="image/webp">
                        <source 
                        media="(min-width:1280px)"
                        srcset="
                        ./images/hotel/large-suite/suite-desk.jpg 1x,
                        ./images/hotel/large-suite/suite-desk@2x.jpg 2x"
                        type="image/jpg">
                        <!-- tablet -->
                        <source 
                        media="(min-width:1024px)"
                        srcset="
                        ./images/hotel/large-suite/suite-tablet.webp 1x,
                        ./images/hotel/large-suite/suite-tablet@2x.webp 2x"
                        type="image/webp">
                        <source 
                        media="(min-width:1024px)"
                        srcset="
                        ./images/hotel/large-suite/suite-tablet.jpg 1x,
                        ./images/hotel/large-suite/suite-tablet@2x.jpg 2x"
                        type="image/jpg">
                        <!-- mobile -->
                         <source 
                        media="(min-width:320px)"
                        srcset="
                        ./images/hotel/large-suite/suite-mobile.webp 1x,
                        ./images/hotel/large-suite/suite-mobile@2x.webp 2x"
                        type="image/webp">
                        <source 
                        media="(min-width:320px)"
                        srcset="
                        ./images/hotel/large-suite/suite-mobile.jpg 1x,
                        ./images/hotel/large-suite/suite-mobile@2x.jpg 2x"
                        type="image/jpg">
                        <img
                        src="./images/hotel/large-suite/suite-mobile.jpg"
                        alt="photo gallery"
                        />
                    </picture>
                </div>
            </li>
            <li class="content-item">
                <div class="wrapper large-suite-gallery">
                    <div class="gallery-item">
                        <picture>
                            <!-- desktop -->
                            <source 
                            media="(min-width:1280px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-1-desk.webp 1x,
                            ./images/hotel/large-suite/gallery/gallery-1-desk@2x.webp 2x"
                            type="image/webp">
                            <source 
                            media="(min-width:1280px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-1-desk.jpg 1x,
                            ./images/hotel/large-suite/gallery/gallery-1-desk@2x.jpg 2x"
                            type="image/jpg">
                            <!-- tablet -->
                            <source 
                            media="(min-width:1024px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-1-tablet.webp 1x,
                            ./images/hotel/large-suite/gallery/gallery-1-tablet@2x.webp 2x"
                            type="image/webp">
                            <source 
                            media="(min-width:1024px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-1-tablet.jpg 1x,
                            ./images/hotel/large-suite/gallery/gallery-1-tablet@2x.jpg 2x"
                            type="image/jpg">
                            <!-- mobile -->
                             <source 
                            media="(min-width:320px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-1-mobile.webp 1x,
                            ./images/hotel/large-suite/gallery/gallery-1-mobile@2x.webp 2x"
                            type="image/webp">
                            <source 
                            media="(min-width:320px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-1-mobile.jpg 1x,
                            ./images/hotel/large-suite/gallery/gallery-1-mobile@2x.jpg 2x"
                            type="image/jpg">
                            <img
                            src="./images/hotel/large-suite/gallery/gallery-1-mobile.jpg"
                            alt="photo gallery"
                            />
                        </picture>
                    </div>
                    <div class="gallery-item">
                        <picture>
                            <!-- desktop -->
                            <source 
                            media="(min-width:1280px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-2-desk.webp 1x,
                            ./images/hotel/large-suite/gallery/gallery-2-desk@2x.webp 2x"
                            type="image/webp">
                            <source 
                            media="(min-width:1280px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-2-desk.jpg 1x,
                            ./images/hotel/large-suite/gallery/gallery-2-desk@2x.jpg 2x"
                            type="image/jpg">
                            <!-- tablet -->
                            <source 
                            media="(min-width:1024px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-2-tablet.webp 1x,
                            ./images/hotel/large-suite/gallery/gallery-2-tablet@2x.webp 2x"
                            type="image/webp">
                            <source 
                            media="(min-width:1024px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-2-tablet.jpg 1x,
                            ./images/hotel/large-suite/gallery/gallery-2-tablet@2x.jpg 2x"
                            type="image/jpg">
                            <!-- mobile -->
                             <source 
                            media="(min-width:320px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-2-mobile.webp 1x,
                            ./images/hotel/large-suite/gallery/gallery-2-mobile@2x.webp 2x"
                            type="image/webp">
                            <source 
                            media="(min-width:320px)"
                            srcset="
                            ./images/hotel/large-suite/gallery/gallery-2-mobile.jpg 1x,
                            ./images/hotel/large-suite/gallery/gallery-2-mobile@2x.jpg 2x"
                            type="image/jpg">
                            <img
                            src="./images/hotel/large-suite/gallery/gallery-2-mobile.jpg"
                            alt="photo gallery"
                            />
                        </picture>
                    </div>
                    <ul class="large-arrow-list list">
                        <li class="large-arrow-item">
                            <svg width="30" height="16">
                                    <path d="M31 15.49h-26.16l6.019-6.061-1.419-1.429-8.44 8.5 8.44 8.5 1.419-1.429-6.019-6.060h26.16v-2.021z"></path>
                                
                                <!-- <use src="./images/icons.svg#icon-arrow-left"></use> -->
                            </svg>
                        </li>
                        <li class="large-arrow-item">
                            <svg width="30" height="16">
                                <use src="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
                <ul class="large-action-list list">
                    <li class="large-action-item">
                        <a herf="./room.html" class="large-suite-btn link">Детальніше</a>
                    </li>
                    <li class="large-action-item">
                        <button class="large-suite-btn btn">Переглянути ціни</button>
                    </li>
                </ul>
            </li>
        </ul>
</section>