<div class="backdrop is-hidden" data-modal>
  <div class="modal" data-modal-close>
    <button type="button" class="modal-btn">
      <svg class="icon-close" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">ЦІНИ НА НОМЕР</h2>
    <form class="modal-form" novalidate>
      <div class="rp-modal-wrapper">
        <p class="modal-text">Двомісний люкс</p>
        <label class="label-text">Категорія номеру</label>
      </div>
      <div class="modal-field-wrapper">
        <div class="rp-modal-wrapper">
          <svg class="arrow-down" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
          <select id="user-number" name="user-number" class="modal-field">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <label for="user-number" class="label-text">Кількість ночей</label>
        </div>

        <div class="rp-modal-wrapper">
          <select id="user-price" name="user-price" class="modal-field">
            <optgroup label="1 ніч">
              <option value="1000">1000</option>
            </optgroup>
            <optgroup label="2 ночі">
              <option value="2000">2000</option>
            </optgroup>
            <optgroup label="3 ночі">
              <option value="3000">3000</option>
            </optgroup>
            <optgroup label="4 ночі">
              <option value="4000">4000</option>
            </optgroup>
          </select>
          <label for="user-price" class="label-text">грн.</label>
        </div>
      </div>
      <button type="submit" class="btn-submit">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
