.contacts {
  padding-bottom: 32px;
  padding-top: 36px;
  background-color: $main-bg-color;
}
@media screen and (min-width: 1024px) {
  .contacts {
    padding-top: 56px;
    padding-bottom: 40px;
  }
  .contacts .container {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-title {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: $secondary-text-color;
}
@media screen and (min-width: 1024px) {
  .contacts-title {
    font-size: 64px;
  }
}
.contacts-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $room-text-color;
  margin-top: 12px;
  @media screen and (max-width: 330px) {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-text {
    margin-top: 8px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-text {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023.98px) {
  .contacts-item {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
}

@media screen and (max-width: 1023.98px) {
  .contacts-item.restor {
    gap: 22px;
    flex-wrap: nowrap;
  }
  .contacts-item.hotel {
    gap: 54px;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 380px) {
  .contacts-item.restor {
    gap: 20px;
  }
  .contacts-item.hotel {
    gap: 50px;
  }
}
@media screen and (max-width: 369px) {
  .contacts-item.restor {
    gap: 15px;
  }
  .contacts-item.hotel {
    gap: 45px;
  }
}
@media screen and (max-width: 345px) {
  .contacts-item.restor {
    gap: 16px;
  }
}
@media screen and (max-width: 345px) {
  .contacts-item.hotel {
    gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-item.restor {
    margin-bottom: 24px;
    width: 146px;
  }
  .contacts-item.hotel {
    width: 265px;
  }
}
.contact-title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-text-color;
  @media screen and (max-width: 370px) {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .contact-title {
    margin-bottom: 8px;
  }
}
.contacts-wrapper {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 8px;
  border: 0.5px solid $main-accent-color;
  border-radius: 2px;
  background-color: $white;
  margin-right: auto;
}

.contacts-phone-icon {
  margin-right: 8px;
  fill: $accent-text-color;
}

.contacts-link {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  @media screen and (max-width: 414px) {
    font-size: 3vw;
  }
}

.contacts-link.geo {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  width: 86%;
  @media screen and (max-width: 413px) {
    font-size: 3.3vw;
  }
}

.contacts-link:not(:last-child) {
  margin-right: 12px;
}
@media screen and (min-width: 1024px) {
  .contacts-link:not(:last-child) {
    margin-right: 16px;
  }
}
.contacts-wrapper.geo {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 33px;
  max-width: 260px;
  margin-left: 124px;
}
@media screen and (max-width: 380px) {
  .contacts-wrapper.geo {
    margin-left: 120px;
  }
}
@media screen and (max-width: 367px) {
  .contacts-wrapper.geo {
    margin-left: 100px;
  }
}
@media screen and (max-width: 345px) {
  .contacts-wrapper.geo {
    margin-left: 97px;
  }
}

@media screen and (max-width: 320px) {
  .contacts-wrapper.geo {
    margin-left: 92px;
  }
}

@media screen and (min-width: 1024px) {
  .contacts-wrapper.geo {
    padding-top: 9px;
    padding-right: 8px;
    max-width: 285px;
    margin-left: 0;
    margin-top: 48px;
  }
}
.contacts-geo-icon {
  margin-right: 10px;
  fill: $accent-text-color;
}

.map {
  width: 100%;
  height: 220px;
  margin-top: 32px;
  border: 1px solid #bababa;
  border-radius: 2px;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .map {
    width: 535px;
    height: 412px;
    margin-top: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .map {
    width: 634px;
    margin-top: 8px;
  }
}
