.details-restaurant {
  min-width: 320px;
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;

  // overflow: hidden;

  @media screen and (min-width: 1024px) {
    padding-top: 40px;
  }

  &--background {
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/homepage/details-restaurant/details-bg-mobile.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/details-restaurant/details-bg-mobile@2x.jpg);
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/details-restaurant/details-bg-tablet.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/homepage/details-restaurant/details-bg-tablet@2x.jpg);
      }
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/details-restaurant/details-bg-desk.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/homepage/details-restaurant/details-bg-desk.jpg);
      }
    }
  }

  &__dis {
    margin-left: 125px;
    margin-bottom: 48px;

    @media screen and (min-width: 1024px) {
      margin-left: 231px;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
      margin-left: 253px;
    }
  }

  &__dis-title {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;

    letter-spacing: 0.3em;
    color: $white;

    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
      font-size: 64px;
      margin-bottom: 16px;
      line-height: 1.078;
    }
  }

  &__dis-type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: $white;

    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }

  &__dis-p {
    // font-family: 'Montserrat';
    // font-style: normal;
    // font-weight: 600;
    font-size: 12px;
    line-height: 1.25;

    letter-spacing: 0.02em;
    color: $uppertitle-text-color;

    max-width: 259px;

    @media screen and (min-width: 1024px) {
      line-height: 1.75;
      font-size: 16px;
      max-width: 610px;
    }
  }

  &__flexbox {
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: space-between;
      // gap: 28px;
    }

    // @media screen and (min-width: 1280px) {
    //   gap: 32px;
    // }
  }

  // btn-style

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 16px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 55px;
    }
  }

  &__btn-item {
    cursor: pointer;
    min-width: 236px;
    // width: 241px;

    // font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.02em;

    color: $main-accent-color;
    background-color: transparent;

    padding: 12px 21px;

    border: 2px solid $white;
    border-radius: 25px;

    transition: background-color $transition, border-color $transition,
      transform $transition;

    &:hover,
    &:focus {
      background-color: $white;
      border: 2px solid $main-accent-color;
      transform: scale(1.1);
    }
  }

  &__link-item {
    display: inline-block;
    min-width: 236px;
    // width: 241px;

    // font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;

    letter-spacing: 0.02em;

    color: $main-accent-color;
    background-color: transparent;

    padding: 12px 21px;

    border: 2px solid $white;
    border-radius: 25px;

    transition: background-color $transition, border-color $transition,
      transform $transition;

    &:hover,
    &:focus {
      background-color: $white;
      border: 2px solid $main-accent-color;
      transform: scale(1.1);
    }
  }
}

// .details-restaurant-wrapper {
//   transform: translateX(15px);
//   margin-bottom: 32px;

//   @media screen and (min-width: 1024px) {
//     transform: translateX(0);
//     margin-bottom: 0;
//   }
// }

.details-restaurant-wrapper {
  margin-bottom: 32px;
  max-width: 274px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 414px) {
    max-width: 384px;
    margin-right: 0;
    transform: translateX(15px);
  }

  @media screen and (min-width: 1024px) {
    transform: translateX(0);
    margin-bottom: 0;
    max-width: 662px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 842px;
  }
}

.details-restaurant-gallery {
  // max-width: 384px;
  margin-bottom: 16px;

  @media screen and (min-width: 1024px) {
    // max-width: 662px;
    margin-bottom: 24px;
  }

  // @media screen and (min-width: 1280px) {
  // max-width: 842px;
  // }
}

.restaurant-gallery-item {
  margin-right: 20px;
  opacity: 0.6;

  &.slick-current {
    opacity: 1;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 34px;
    transform: translateX(0);
    opacity: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 70px;
  }
}

.arrows-btn-wrapper {
  display: inline-flex;
  gap: 32px;
}

.slider-arrows {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.slick-prev-icon,
.slick-next-icon {
  fill: $white;
  transition: fill $transition, transform $transition;

  &:hover {
    fill: $main-accent-color;
    transform: scale(1.1);
  }
}
