.details-hotel {
  min-width: 320px;

  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;

  background-color: $black;
  background-image: linear-gradient($details-bg-color, $details-bg-color),
    url(../images/homepage/details-hotel/details-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient($details-bg-color, $details-bg-color),
        url(../images/homepage/details-hotel/details-bg-mobile@2x.jpg);
    }
  }

  // STYLES FOR TITLE CONTAINER
  &-name {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43 / 40);
    color: $white;
    letter-spacing: 0.3em;

    margin-bottom: 12px;
    max-width: 127px;
    // margin-left: auto;
    // margin-right: auto;
  }

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: $white;

    text-align: center;
    // margin-right: auto;
    // margin-left: auto;
    margin-bottom: 20px;
  }

  &-text {
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: $details-text-color;

    max-width: 243px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 48px;
  }

  // styles for slider
  .swiper {
    margin-right: 25px;
    margin-left: -15px;
  }

  .swiper-wrapper {
    margin-bottom: 16px;
    direction: rtl;
    transform: translateX(20px) !important;
  }

  .swiper-slide {
    width: auto !important;
  }

  // styles for switch buttons
  &-switchers {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    margin-right: 25px;
    margin-bottom: 32px;
  }

  &-turn-switch {
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;

    background: none;
    border: none;
  }

  &-icon {
    width: 100%;
    height: 100%;

    fill: $white;
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    // &:focus,
    &:hover {
      fill: $main-accent-color;
    }
  }
  // !styles for switch buttons
  // !styles for slider

  &-booking-button,
  &-price-button {
    min-width: 236px;
    display: block;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: $main-accent-color;

    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid $white;
    border-radius: 25px;

    padding: 12px 22px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    transition: background-color $transition, border-color $transition,
      transform $transition;

    &:hover,
    &:focus {
      background-color: $white;
      border: 2px solid $main-accent-color;
      transform: scale(1.1);
    }
  }

  // &-price-button {
  //   display: block;
  //   max-width: 236px;
  //   text-decoration: none;

  //   font-weight: 700;
  //   font-size: 16px;
  //   line-height: 1.25;
  //   color: $main-accent-color;

  //   background-color: rgba(0, 0, 0, 0.4);
  //   border: 2px solid #ffffff;
  //   border-radius: 25px;

  //   padding: 14px 37px;
  //   margin-left: auto;
  //   margin-right: auto;

  //   &:hover,
  //   &:focus {
  //     background-color: $white;
  //     border: 2px solid $main-accent-color;
  //   }
  // }
}

// @media screen and (max-width: 413.98px) {
//   .details-hotel-name {
//     text-align: center;
//   }

//   .details-hotel-title {
//     text-align: center;
//   }
// }

// @media screen and (min-width: 414px) {
// }

.details-hotel-title-wrapper {
  margin-right: 125px;
  margin-bottom: 48px;
}

.details-hotel-name {
  // margin-right: 125px;
  // text-align: end;
  margin-left: auto;
}

.details-hotel-title {
  // margin-right: 125px;
  text-align: end;
  line-height: calc(24 / 20);
  font-size: 20px;
}

.details-hotel-text {
  // margin-right: 125px;
  margin-left: auto;
}

// @media screen and (max-width: 1023.98px) {
//   .details-hotel .swiper-slide {
//     opacity: 0.6;
//   }

//   .details-hotel .swiper-slide-active {
//     opacity: 1;
//   }
// }

@media screen and (min-width: 1024px) {
  .details-hotel {
    padding-top: 48px;

    background-image: linear-gradient($details-bg-color, $details-bg-color),
      url(../images/homepage/details-hotel/details-bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient($details-bg-color, $details-bg-color),
          url(../images/homepage/details-hotel/details-bg-tablet@2x.jpg);
      }
    }

    &-title-wrapper {
      margin-right: 231px;
      margin-bottom: 40px;
    }

    &-name {
      font-size: 64px;
      line-height: calc(69 / 64);

      min-width: 202px;
      // margin-right: 263px;
      margin-bottom: 16px;
    }

    &-title {
      font-size: 24px;
      line-height: calc(29 / 24);

      // margin-right: 263px;
      margin-bottom: 8px;
    }

    &-text {
      font-size: 16px;
      // line-height: calc(20 / 16);

      max-width: 549px;
      // margin-right: 263px;
      // margin-bottom: 40px;
    }

    // THUMB WITH BUTTONS AND SWIPPER

    &-container {
      display: flex;
      gap: 32px;
    }

    &-thumb {
      max-width: 662px;
    }

    // .swiper {
    //   margin-left: 0;
    //   margin-right: 0;
    // }

    // .swiper-wrapper {
    //   margin-bottom: 24px;
    //   direction: rtl;
    //   transform: translateX(35px) !important;
    // }

    &-switchers {
      margin-bottom: 0;
      margin-right: 0;
    }

    &-button-thumb {
      margin-top: 150px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .details-hotel {
    max-width: 1280px;
    background-image: linear-gradient($details-bg-color, $details-bg-color),
      url(../images/homepage/details-hotel/details-bg-desk.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient($details-bg-color, $details-bg-color),
          url(../images/homepage/details-hotel/details-bg-desk@2x.jpg);
      }
    }

    &-title-wrapper {
      margin-right: 253px;
    }

    // &-name {
    //   margin-right: 253px;
    // }

    // &-title {
    //   margin-right: 253px;
    // }

    &-text {
      // margin-right: 253px;
      max-width: 595px;
    }

    &-thumb {
      max-width: 100%;
    }

    // .swiper {
    //   max-width: 874px;
    //   margin-left: -35px;
    // }

    // .swiper-wrapper {
    //   transform: translateX(85px) !important;
    // }
  }
}

.details-hotel-wrapper {
  transform: translateX(-15px);
  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    transform: translateX(0);
    margin-bottom: 0;
  }
}

.details-hotel-gallery {
  max-width: 384px;
  margin-bottom: 16px;

  @media screen and (min-width: 1024px) {
    max-width: 662px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 842px;
  }
}

.hotel-gallery-item {
  margin-right: 20px;
  transform: translateX(40%);
  opacity: 0.6;

  &.slick-active {
    opacity: 1;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 34px;
    transform: translateX(0);
    opacity: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 70px;
  }
}

.dh-arrows-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.dh-slider-arrows {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.dh-slick-prev-icon,
.dh-slick-next-icon {
  fill: $white;
  transition: fill $transition, transform $transition;

  &:hover {
    fill: $main-accent-color;
    transform: scale(1.1);
  }
}
