/* Footer */
.page_footer {
  background-color: $footer-bg-color;
  min-width: 320px;
  margin: 0 auto;
}
.footer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    // width: 748px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.footer__bottom {
  margin-left: 9%;
  width: 127px;
  height: 43px;
  @media screen and (max-width: 330px) {
    margin-left: 5%;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-right: 163px;
    margin-top: 40px;
    width: 202px;
    height: 69px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 231px;
  }
}
.footer__logo {
  padding: 0;
  margin: 0;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  text-decoration: none;
  color: $main-accent-color;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: $white;
  // }
  @media screen and (min-width: 1024px) {
    width: 202px;
    height: 69px;
    font-size: 64px;
    line-height: 69px;
  }
}
.footer-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    justify-content: start;
    width: 102px;
    height: 144px;
    margin-right: 137px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 199px;
  }
}
.footer__list {
  margin: 0;
}
.footer__item {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-accent-color;
  transition: transform $transition;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  @media screen and (min-width: 1024px) {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.box-join {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.box-join__soc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 0;
  padding: 0;
  width: 112px;
  height: 24px;
  @media screen and (min-width: 1024px) {
    flex-direction: column;
    justify-content: start;
    width: 144px;
    height: 40px;
  }
}
.box-join__items {
  // display: flex;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and (min-width: 1024px) {
    width: 144px;
    height: 40px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 12px;
    }
  }
}
.box-join__link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main-accent-color;

  // border-radius: 50%;
  transition: transform $transition;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  @media screen and (min-width: 1024px) {
    padding: 10px 12px 10px 12px;
    border: 0.5px solid $main-accent-color;
    border-radius: 2px;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.link__title {
  display: none;

  @media screen and (min-width: 1024px) {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $main-accent-color;

    transition: color $transition;
  }
}

.box-join__svg {
  fill: currentColor;
}
